In [72]:
from google.colab import drive

In [73]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [74]:
import pandas as pd

In [75]:
marketing_data = pd.read_csv('/content/drive/MyDrive/Portfolio_DS/Python-Tutorials-master/Joins and Unions/Marketing Raw Data.csv')
revenue_data = pd.read_csv('/content/drive/MyDrive/Portfolio_DS/Python-Tutorials-master/Joins and Unions/Revenue Raw Data.csv')
revenue_data_new = pd.read_csv('/content/drive/MyDrive/Portfolio_DS/Python-Tutorials-master/Joins and Unions/Revenue Raw Data (new).csv')

In [76]:
print(marketing_data)
print(revenue_data)
print(revenue_data_new)

           Date  Marketing Spend           Promo
0    22/12/2020      1024.500000   Promotion Red
1    23/12/2020      1181.700000  Promotion Blue
2    24/12/2020      1955.000000        No Promo
3    25/12/2020      2336.777778  Promotion Blue
4    26/12/2020      4535.375000  Promotion Blue
..          ...              ...             ...
119  05/05/2021      1119.600000        No Promo
120  06/05/2021      2067.888889   Promotion Red
121  07/05/2021      1450.200000        No Promo
122  08/05/2021      1121.875000        No Promo
123  09/05/2021       871.000000        No Promo

[124 rows x 3 columns]
           Date   Day_Name  Visitors  Revenue
0    09/11/2020     Monday       707     5211
1    10/11/2020    Tuesday      1455    10386
2    11/11/2020  Wednesday      1520    12475
3    12/11/2020   Thursday      1726    14414
4    13/11/2020     Friday      2134    20916
..          ...        ...       ...      ...
114  03/03/2021  Wednesday      1068     8223
115  04/03/2021   Thursday      1976    16727
116  05/03/2021     Friday      1806    15474
117  06/03/2021   Saturday      1621    12850
118  07/03/2021     Sunday      1001     6681

[119 rows x 4 columns]
          Date   Day_Name     Visitors      Revenue
0   08/03/2021     Monday  1681.714286  13112.47619
1   09/03/2021    Tuesday  1690.298030  13201.38342
2   10/03/2021  Wednesday  1698.881773  13290.29064
3   11/03/2021   Thursday  1707.465517  13379.19787
4   12/03/2021     Friday  1716.049261  13468.10509
5   13/03/2021   Saturday  1724.633005  13557.01232
6   14/03/2021     Sunday  1733.216749  13645.91954
7   15/03/2021     Monday  1741.800493  13734.82677
8   16/03/2021    Tuesday  1750.384236  13823.73399
9   17/03/2021  Wednesday  1758.967980  13912.64122
10  18/03/2021   Thursday  1767.551724  14001.54844
11  19/03/2021     Friday  1776.135468  14090.45567
12  20/03/2021   Saturday  1784.719212  14179.36289
13  21/03/2021     Sunday  1793.302956  14268.27011
14  22/03/2021     Monday  1801.886700  14357.17734
15  23/03/2021    Tuesday  1810.470443  14446.08456
16  24/03/2021  Wednesday  1819.054187  14534.99179
17  25/03/2021   Thursday  1827.637931  14623.89901
18  26/03/2021     Friday  1836.221675  14712.80624
19  27/03/2021   Saturday  1844.805419  14801.71346
20  28/03/2021     Sunday  1853.389163  14890.62069
21  29/03/2021     Monday  1861.972906  14979.52791
22  30/03/2021    Tuesday  1870.556650  15068.43514
23  31/03/2021  Wednesday  1879.140394  15157.34236
24  01/04/2021   Thursday  1887.724138  15246.24959
25  02/04/2021     Friday  1896.307882  15335.15681
26  03/04/2021   Saturday  1904.891626  15424.06404
27  04/04/2021     Sunday  1913.475369  15512.97126
28  05/04/2021     Monday  1922.059113  15601.87849
29  06/04/2021    Tuesday  1930.642857  15690.78571
30  07/04/2021  Wednesday  1939.226601  15779.69294

In [77]:
print('The number of rows for table A is:', revenue_data.shape )
print('The number of rows for table B is:', marketing_data.shape)

The number of rows for table A is: (119, 4)
The number of rows for table B is: (124, 3)

In [78]:
# Both tables in Brackets 1. All rows from Table "a" will exist in the Output Table 2. Not all rows from Table "b" will exist in the Output Table - Only the matching ones (blue arrows) 3. Table "a" & the Output Table should have the same number of rows 4. If the final Output table does not have the same number of rows as Table "a" then there is Duplicated Data

df = pd.merge(revenue_data, marketing_data, how = 'left', left_on=['Date'], right_on = ['Date'])
df

           Date   Day_Name  Visitors  Revenue  Marketing Spend           Promo
0    09/11/2020     Monday       707     5211              NaN             NaN
1    10/11/2020    Tuesday      1455    10386              NaN             NaN
2    11/11/2020  Wednesday      1520    12475              NaN             NaN
3    12/11/2020   Thursday      1726    14414              NaN             NaN
4    13/11/2020     Friday      2134    20916              NaN             NaN
..          ...        ...       ...      ...              ...             ...
114  03/03/2021  Wednesday      1068     8223       822.300000   Promotion Red
115  04/03/2021   Thursday      1976    16727      1672.700000  Promotion Blue
116  05/03/2021     Friday      1806    15474      1719.333333  Promotion Blue
117  06/03/2021   Saturday      1621    12850      1427.777778  Promotion Blue
118  07/03/2021     Sunday      1001     6681       668.100000        No Promo

[119 rows x 6 columns]

In [79]:
# Another way to one table in Brackets

df2 = revenue_data.merge(marketing_data, how='left', left_on=['Date'], right_on = ['Date'])
df2

           Date   Day_Name  Visitors  Revenue  Marketing Spend           Promo
0    09/11/2020     Monday       707     5211              NaN             NaN
1    10/11/2020    Tuesday      1455    10386              NaN             NaN
2    11/11/2020  Wednesday      1520    12475              NaN             NaN
3    12/11/2020   Thursday      1726    14414              NaN             NaN
4    13/11/2020     Friday      2134    20916              NaN             NaN
..          ...        ...       ...      ...              ...             ...
114  03/03/2021  Wednesday      1068     8223       822.300000   Promotion Red
115  04/03/2021   Thursday      1976    16727      1672.700000  Promotion Blue
116  05/03/2021     Friday      1806    15474      1719.333333  Promotion Blue
117  06/03/2021   Saturday      1621    12850      1427.777778  Promotion Blue
118  07/03/2021     Sunday      1001     6681       668.100000        No Promo

[119 rows x 6 columns]

In [80]:
#Filtering specific columns

df3 = revenue_data.merge(marketing_data[['Date', 'Promo']], how='left', left_on=['Date'], right_on = ['Date'])
df3

           Date   Day_Name  Visitors  Revenue           Promo
0    09/11/2020     Monday       707     5211             NaN
1    10/11/2020    Tuesday      1455    10386             NaN
2    11/11/2020  Wednesday      1520    12475             NaN
3    12/11/2020   Thursday      1726    14414             NaN
4    13/11/2020     Friday      2134    20916             NaN
..          ...        ...       ...      ...             ...
114  03/03/2021  Wednesday      1068     8223   Promotion Red
115  04/03/2021   Thursday      1976    16727  Promotion Blue
116  05/03/2021     Friday      1806    15474  Promotion Blue
117  06/03/2021   Saturday      1621    12850  Promotion Blue
118  07/03/2021     Sunday      1001     6681        No Promo

[119 rows x 5 columns]

In [81]:
df4 = revenue_data.merge(marketing_data[['Date', 'Promo']], how='left', on = ['Date'])
df4

           Date   Day_Name  Visitors  Revenue           Promo
0    09/11/2020     Monday       707     5211             NaN
1    10/11/2020    Tuesday      1455    10386             NaN
2    11/11/2020  Wednesday      1520    12475             NaN
3    12/11/2020   Thursday      1726    14414             NaN
4    13/11/2020     Friday      2134    20916             NaN
..          ...        ...       ...      ...             ...
114  03/03/2021  Wednesday      1068     8223   Promotion Red
115  04/03/2021   Thursday      1976    16727  Promotion Blue
116  05/03/2021     Friday      1806    15474  Promotion Blue
117  06/03/2021   Saturday      1621    12850  Promotion Blue
118  07/03/2021     Sunday      1001     6681        No Promo

[119 rows x 5 columns]

In [82]:
# Rename the column

marketing_data.columns = marketing_data.columns.str.replace('Date', 'Date_ID')
marketing_data.head()

      Date_ID  Marketing Spend           Promo
0  22/12/2020      1024.500000   Promotion Red
1  23/12/2020      1181.700000  Promotion Blue
2  24/12/2020      1955.000000        No Promo
3  25/12/2020      2336.777778  Promotion Blue
4  26/12/2020      4535.375000  Promotion Blue

In [83]:
# Run the error, Same name key

df4 = revenue_data.merge(marketing_data[['Date_ID','Promo']], how = 'left', left_on = ['Date'], right_on = ['Date_ID'])
df4.shape

(119, 6)

In [84]:
df.head()

         Date   Day_Name  Visitors  Revenue  Marketing Spend Promo
0  09/11/2020     Monday       707     5211              NaN   NaN
1  10/11/2020    Tuesday      1455    10386              NaN   NaN
2  11/11/2020  Wednesday      1520    12475              NaN   NaN
3  12/11/2020   Thursday      1726    14414              NaN   NaN
4  13/11/2020     Friday      2134    20916              NaN   NaN

In [85]:
# Replace the NaN with 0
df.fillna(0)
df[['Marketing Spend']] =df[['Marketing Spend']].fillna(0)
df

# Replacing the NaN with a string
df[['Promo']] = df[['Promo']].fillna('No promo2')
df

# Replacing strings with strings
df[['Promo']] = df[['Promo']].replace('No Promo2','No Promo')
df.head()

         Date   Day_Name  Visitors  Revenue  Marketing Spend      Promo
0  09/11/2020     Monday       707     5211              0.0  No promo2
1  10/11/2020    Tuesday      1455    10386              0.0  No promo2
2  11/11/2020  Wednesday      1520    12475              0.0  No promo2
3  12/11/2020   Thursday      1726    14414              0.0  No promo2
4  13/11/2020     Friday      2134    20916              0.0  No promo2

In [86]:
# Inner Join 1. Output Table will only have the Matching Rows from both Tables

In [87]:
print('The number of rows for Table A is:', revenue_data.shape)

print('The number of rows for Table B is:', marketing_data.shape)

revenue_data.head()

The number of rows for Table A is: (119, 4)
The number of rows for Table B is: (124, 3)

         Date   Day_Name  Visitors  Revenue
0  09/11/2020     Monday       707     5211
1  10/11/2020    Tuesday      1455    10386
2  11/11/2020  Wednesday      1520    12475
3  12/11/2020   Thursday      1726    14414
4  13/11/2020     Friday      2134    20916

In [88]:
# Inner Join
df = pd.merge(revenue_data, marketing_data, how = 'inner', left_on = ['Date'], right_on = ['Date_ID'])
df.shape

# print the shapes
print(df.shape)
# print the output
df.head()

(68, 7)

,Date,Day_Name,Visitors,Revenue,Date_ID,Marketing Spend,Promo
0,22/12/2020,Tuesday,1571,10245,22/12/2020,1024.500000,Promotion Red
1,23/12/2020,Wednesday,1288,11817,23/12/2020,1181.700000,Promotion Blue
2,24/12/2020,Thursday,2556,19550,24/12/2020,1955.000000,No Promo
3,25/12/2020,Friday,2152,21031,25/12/2020,2336.777778,Promotion Blue
4,26/12/2020,Saturday,2678,36283,26/12/2020,4535.375000,Promotion Blue

In [89]:
# FULL JOIN. 1. All rows from both Tables will exist in the Output Table Regardless if they Match or Not

In [90]:
marketing_data.head()

      Date_ID  Marketing Spend           Promo
0  22/12/2020      1024.500000   Promotion Red
1  23/12/2020      1181.700000  Promotion Blue
2  24/12/2020      1955.000000        No Promo
3  25/12/2020      2336.777778  Promotion Blue
4  26/12/2020      4535.375000  Promotion Blue

In [91]:
# Full join
df = pd.merge(revenue_data, marketing_data, how = 'outer', left_on = ['Date'], right_on = ['Date_ID'])


# printing the shapes
print(df.shape)

# prininting the output
df.head()

(175, 7)

         Date   Day_Name  Visitors  Revenue Date_ID  Marketing Spend Promo
0  09/11/2020     Monday     707.0   5211.0     NaN              NaN   NaN
1  10/11/2020    Tuesday    1455.0  10386.0     NaN              NaN   NaN
2  11/11/2020  Wednesday    1520.0  12475.0     NaN              NaN   NaN
3  12/11/2020   Thursday    1726.0  14414.0     NaN              NaN   NaN
4  13/11/2020     Friday    2134.0  20916.0     NaN              NaN   NaN

In [92]:
# investigating which data comes from where
# indicator will produce another column

# full join with indicator
df = pd.merge(revenue_data, marketing_data, how = 'outer', left_on = ['Date'], right_on = ['Date_ID'], indicator = True)

df
#printing the unique values of the new column
print(df['_merge'].unique())
df.head()

# printing the shapes
print('A: ', df[df['_merge'] == 'left_only'].shape)
print('B: ', df[df['_merge'] == 'right_only'].shape)
print('Both: ', df[df['_merge'] == 'both'].shape)

# Doing the Math manually
math = 51 + 56 + 68


# printing the math
print(math)
print(df.shape)

['left_only', 'both', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']
A:  (51, 8)
B:  (56, 8)
Both:  (68, 8)
175
(175, 8)

In [93]:
# Cross join
#1. All rows from Table "a"' will be mached" will all rows from Table "b. 2. We do not need a "key" column to Join On 3. There will be Duplic- Be careful how vou use Cross Joins

# No pre-existing funtion I am aware for Cross Join - Hence we need to create a Function manually

def cross_join(table1,table2):
    return(table1.assign(key=1).merge(table2.assign(key=1), on='key').drop('key',1))

In [94]:
print('The number of rows for Table A is:', revenue_data.shape)

print('The number of rows for Table B is:', marketing_data.shape)

revenue_data.head()

The number of rows for Table A is: (119, 4)
The number of rows for Table B is: (124, 3)

         Date   Day_Name  Visitors  Revenue
0  09/11/2020     Monday       707     5211
1  10/11/2020    Tuesday      1455    10386
2  11/11/2020  Wednesday      1520    12475
3  12/11/2020   Thursday      1726    14414
4  13/11/2020     Friday      2134    20916

In [95]:
marketing_data.head()

      Date_ID  Marketing Spend           Promo
0  22/12/2020      1024.500000   Promotion Red
1  23/12/2020      1181.700000  Promotion Blue
2  24/12/2020      1955.000000        No Promo
3  25/12/2020      2336.777778  Promotion Blue
4  26/12/2020      4535.375000  Promotion Blue

In [96]:
# Run the Cross Join
df = cross_join(revenue_data, marketing_data)
df
# PRint the shapes
print(df.shape)

# Do the math manually
maths = 119 * 124

# print the math
print(maths)

(14756, 7)
14756

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  import sys

In [101]:
# Union All / Concat 1. Table "a" and Table "b" must have exactlv the same number of columns 2.Outnut tahle will use the column names of Table "a" - Table "b" column names do not matter

# setting the max rows
pd.set_option('display.max_rows', 500)

# printing the shapes
print('A:', revenue_data.shape )
print('B:', revenue_data_new.shape )

# Union all / Concat 
df = pd.concat([revenue_data, revenue_data_new], ignore_index = True)
df.shape

A: (119, 4)
B: (31, 4)

(150, 4)

In [102]:

df

           Date   Day_Name     Visitors      Revenue
0    09/11/2020     Monday   707.000000   5211.00000
1    10/11/2020    Tuesday  1455.000000  10386.00000
2    11/11/2020  Wednesday  1520.000000  12475.00000
3    12/11/2020   Thursday  1726.000000  14414.00000
4    13/11/2020     Friday  2134.000000  20916.00000
5    14/11/2020   Saturday  1316.000000  12996.00000
6    15/11/2020     Sunday  1287.000000  11929.00000
7    16/11/2020     Monday  1548.000000  10072.00000
8    17/11/2020    Tuesday  1448.000000  12016.00000
9    18/11/2020  Wednesday  1362.000000   9067.00000
10   19/11/2020   Thursday  2321.000000  17660.00000
11   20/11/2020     Friday  1819.000000  15188.00000
12   21/11/2020   Saturday  1180.000000   7813.00000
13   22/11/2020     Sunday  2138.000000  21963.00000
14   23/11/2020     Monday  2632.000000  34278.00000
15   24/11/2020    Tuesday  1752.000000  18650.00000
16   25/11/2020  Wednesday   627.000000   5574.00000
17   26/11/2020   Thursday  2105.000000  17294.00000
18   27/11/2020     Friday  1671.000000  14760.00000
19   28/11/2020   Saturday  1105.000000   8091.00000
20   29/11/2020     Sunday  1698.000000  10647.00000
21   30/11/2020     Monday  1541.000000   9144.00000
22   01/12/2020    Tuesday  1245.000000   8307.00000
23   02/12/2020  Wednesday  1955.000000  14254.00000
24   03/12/2020   Thursday  2171.000000  16644.00000
25   04/12/2020     Friday  1975.000000  20607.00000
26   05/12/2020   Saturday  1186.000000   7765.00000
27   06/12/2020     Sunday  1822.000000  10075.00000
28   07/12/2020     Monday  1584.000000   9612.00000
29   08/12/2020    Tuesday  1961.000000  11601.00000
30   09/12/2020  Wednesday  2464.000000  16300.00000
31   10/12/2020   Thursday  2394.000000  17740.00000
32   11/12/2020     Friday  1322.000000  10140.00000
33   12/12/2020   Saturday  1167.000000   9097.00000
34   13/12/2020     Sunday  1163.000000   8802.00000
35   14/12/2020     Monday  1772.000000  11679.00000
36   15/12/2020    Tuesday  1740.000000  11952.00000
37   16/12/2020  Wednesday  1317.000000   9213.00000
38   17/12/2020   Thursday  2330.000000  17618.00000
39   18/12/2020     Friday  2056.000000  18161.00000
40   19/12/2020   Saturday  1191.000000   8800.00000
41   20/12/2020     Sunday  1828.000000  11737.00000
42   21/12/2020     Monday  1605.000000  12038.00000
43   22/12/2020    Tuesday  1571.000000  10245.00000
44   23/12/2020  Wednesday  1288.000000  11817.00000
45   24/12/2020   Thursday  2556.000000  19550.00000
46   25/12/2020     Friday  2152.000000  21031.00000
47   26/12/2020   Saturday  2678.000000  36283.00000
48   27/12/2020     Sunday  2020.000000  23014.00000
49   28/12/2020     Monday  1480.000000   8611.00000
50   29/12/2020    Tuesday  1226.000000   7793.00000
51   30/12/2020  Wednesday  1328.000000   9180.00000
52   31/12/2020   Thursday  2295.000000  19280.00000
53   01/01/2021     Friday  2032.000000  21428.00000
54   02/01/2021   Saturday  1030.000000   9062.00000
55   03/01/2021     Sunday  1442.000000   9952.00000
56   04/01/2021     Monday  1476.000000   8563.00000
57   05/01/2021    Tuesday  1272.000000   9418.00000
58   06/01/2021  Wednesday  2054.000000  25766.00000
59   07/01/2021   Thursday  4139.000000  30146.00000
60   08/01/2021     Friday  2286.000000  15962.00000
61   09/01/2021   Saturday  1371.000000  11249.00000
62   10/01/2021     Sunday  1484.000000  12129.00000
63   11/01/2021     Monday  1571.000000   7300.00000
64   12/01/2021    Tuesday  1454.000000   8702.00000
65   13/01/2021  Wednesday  1243.000000   7509.00000
66   14/01/2021   Thursday  2753.000000  22797.00000
67   15/01/2021     Friday  2312.000000  21245.00000
68   16/01/2021   Saturday  1414.000000  11699.00000
69   17/01/2021     Sunday  1524.000000   9602.00000
70   18/01/2021     Monday  1469.000000   8633.00000
71   19/01/2021    Tuesday  1302.000000   7287.00000
72   20/01/2021  Wednesday  1659.000000   9261.00000
73   21/01/2021   Thursday  2120.000000  14770.00000
74   22/01/2021     Friday  2482.000000  24417.00000
75   23/01/2021   Saturday  1820.000000  11329.00000
76   24/01/2021     Sunday  1628.000000  12445.00000
77   25/01/2021     Monday  1430.000000  10925.00000
78   26/01/2021    Tuesday   488.000000   2898.00000
79   27/01/2021  Wednesday  1084.000000   7049.00000
80   28/01/2021   Thursday  1864.000000  12832.00000
81   29/01/2021     Friday  1844.000000  13024.00000
82   30/01/2021   Saturday  1065.000000   7074.00000
83   31/01/2021     Sunday  1582.000000   9316.00000
84   01/02/2021     Monday  1407.000000  10479.00000
85   02/02/2021    Tuesday  1496.000000  12783.00000
86   03/02/2021  Wednesday  2176.000000  18678.00000
87   04/02/2021   Thursday  2010.000000  14696.00000
88   05/02/2021     Friday  2015.000000  17661.00000
89   06/02/2021   Saturday  1488.000000   9095.00000
90   07/02/2021     Sunday  1608.000000   9199.00000
91   08/02/2021     Monday  1337.000000   9294.00000
92   09/02/2021    Tuesday  2266.000000  20860.00000
93   10/02/2021  Wednesday  1925.000000  13602.00000
94   11/02/2021   Thursday   826.000000   6546.00000
95   12/02/2021     Friday  1387.000000  10310.00000
96   13/02/2021   Saturday   599.000000   3392.00000
97   14/02/2021     Sunday   968.000000   5772.00000
98   15/02/2021     Monday  1482.000000   9987.00000
99   16/02/2021    Tuesday  1420.000000   8422.00000
100  17/02/2021  Wednesday  1171.000000   7809.00000
101  18/02/2021   Thursday  2395.000000  24247.00000
102  19/02/2021     Friday  2029.000000  14706.00000
103  20/02/2021   Saturday  1047.000000   6427.00000
104  21/02/2021     Sunday  1464.000000   7462.00000
105  22/02/2021     Monday  1428.000000   8371.00000
106  23/02/2021    Tuesday  1154.000000   9135.00000
107  24/02/2021  Wednesday  1841.000000  13719.00000
108  25/02/2021   Thursday  2248.000000  20237.00000
109  26/02/2021     Friday  2553.000000  26608.00000
110  27/02/2021   Saturday  1797.000000  12789.00000
111  28/02/2021     Sunday  1912.000000  12036.00000
112  01/03/2021     Monday  1786.000000  13212.00000
113  02/03/2021    Tuesday  1096.000000   6155.00000
114  03/03/2021  Wednesday  1068.000000   8223.00000
115  04/03/2021   Thursday  1976.000000  16727.00000
116  05/03/2021     Friday  1806.000000  15474.00000
117  06/03/2021   Saturday  1621.000000  12850.00000
118  07/03/2021     Sunday  1001.000000   6681.00000
119  08/03/2021     Monday  1681.714286  13112.47619
120  09/03/2021    Tuesday  1690.298030  13201.38342
121  10/03/2021  Wednesday  1698.881773  13290.29064
122  11/03/2021   Thursday  1707.465517  13379.19787
123  12/03/2021     Friday  1716.049261  13468.10509
124  13/03/2021   Saturday  1724.633005  13557.01232
125  14/03/2021     Sunday  1733.216749  13645.91954
126  15/03/2021     Monday  1741.800493  13734.82677
127  16/03/2021    Tuesday  1750.384236  13823.73399
128  17/03/2021  Wednesday  1758.967980  13912.64122
129  18/03/2021   Thursday  1767.551724  14001.54844
130  19/03/2021     Friday  1776.135468  14090.45567
131  20/03/2021   Saturday  1784.719212  14179.36289
132  21/03/2021     Sunday  1793.302956  14268.27011
133  22/03/2021     Monday  1801.886700  14357.17734
134  23/03/2021    Tuesday  1810.470443  14446.08456
135  24/03/2021  Wednesday  1819.054187  14534.99179
136  25/03/2021   Thursday  1827.637931  14623.89901
137  26/03/2021     Friday  1836.221675  14712.80624
138  27/03/2021   Saturday  1844.805419  14801.71346
139  28/03/2021     Sunday  1853.389163  14890.62069
140  29/03/2021     Monday  1861.972906  14979.52791
141  30/03/2021    Tuesday  1870.556650  15068.43514
142  31/03/2021  Wednesday  1879.140394  15157.34236
143  01/04/2021   Thursday  1887.724138  15246.24959
144  02/04/2021     Friday  1896.307882  15335.15681
145  03/04/2021   Saturday  1904.891626  15424.06404
146  04/04/2021     Sunday  1913.475369  15512.97126
147  05/04/2021     Monday  1922.059113  15601.87849
148  06/04/2021    Tuesday  1930.642857  15690.78571
149  07/04/2021  Wednesday  1939.226601  15779.69294